/* your styles go here */

i {
	font-size: 50px;
	color: black;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.fa {
  padding-right: 5px;
}
a:hover .fa {
  color: black;
}